<footer class="footer-section fixed-bottom">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-12 copyright">
        <p>©Ada Stamp. All rights reserved. 2022</p>
      </div>
      <div class="col-lg-5 col-md-4 col-sm-12 ftr-social">
        <ul class="list-inline d-flex justify-content-around p-2">
          <li><a href="{{ site.discord }}" target="_blank"><img alt="discord-icon" width="30px" src="/assets/images/discord.png"/></a></li>
          <li><a href="{{ site.keybase }}" target="_blank"><img alt="keybase-icon" width="30px" src="/assets/images/keybase.png"/></a></li>
          <li><a href="{{ site.telegram }}" target="_blank"  ><img alt="telegram-icon" width="30px" src="/assets/images/telegram.png"/></a></li>
          <li><a href="{{ site.github }}"><img alt="github-icon" width="30px" style="filter: invert(85%);" src="/assets/images/github.png"/></a></li>
          <li><a href="{{ site.facebook }}"><img alt="facebook-icon" width="30px" style="filter: invert(85%);" src="/assets/images/facebook.png"/></a></li>
          <li><a href="{{ site.linkedin }}"><img alt="linkedin-icon" width="30px" style="filter: invert(85%);" src="/assets/images/linkedin.png"/></a></li>
          <li><a href="{{ site.twitter }}"><img alt="twitter-icon" width="30px" style="filter: invert(85%);" src="/assets/images/twitter.png"/></a></li>
          <li><a href="{{ site.mailto }}"><img alt="mail-icon" width="30px" src="/assets/images/email.png"/></a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 footer-menu text-center">
        <ul>
          <li><a href="/terms">Terms &amp; conditions</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
          <li>
            <div id="pulsetic-badge"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<script src="/assets/js/main.js"></script>
