---
layout: default
permalink: /news/
title: Post
---

<div class="container mb-5 pb-5 position-relative">
  <div class="post-image text-center">
    {% if page.github_link %}
      <a class="github-fork-ribbon" href="{{ page.github_link }}" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    {% endif %}
    {% if page.gitlab_link %}
      <a class="github-fork-ribbon gitlab-fork-ribbon left-top" href="{{ page.gitlab_link }}" data-ribbon="Fork me on GitLab" title="Fork me on GitLab">Fork me on GitLab</a>
    {% endif %}

    {% if page.image %}
      <img alt="{{ page.title }} " src="{{ page.post_image }}" />
    {% else %}
      <img alt="{{ page.title }} " src="/assets/images/logo-2.png" />
    {% endif %}

      <h1><a class="text-decoration-none text-dark" href="{{ page.url }}">{{ page.title }}</a></h1>
  </div>
  <div class="post_metadata font-italic font-weight-bold d-flex justify-content-between">
    <p class="post_authors">{% if page.author %} Authors: {{ page.author }} {% endif %}</p>
    <p class="post_authors">{{ page.date | date: "%B %e, %Y" }}</p>
  </div>
  <div class="mb-5 pb-5">
    <div class=" mx-auto">

      {% include anchor_headings.html html=content anchorBody="#" %}
    </div>
  </div>
</div>

